.subtotal{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 250px;
  height: 100px;
  padding: 30px;
  background-color: #f3f3f3;
  border: 1px solid #dddddd;
  border-radius: 3px;
}

.subtotal__gift{
  display: flex;
  align-items: center;
}

.subtotal__gift > input {
  margin-right: 5px;
 
}

.subtotal > button {
  background: #ff7247;
  border-radius: 2px;
  width: 100%;
  height: 30px;
  border: 1px solid;
  margin-top: 10px;
  border-color: 	#EE4B2B #880808 	#AA4A44;
  color: #111;
}